@import './node_modules/spectre.css/';

.dropzone {
    border: 4px solid blueviolet;
    color: blueviolet;
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
}

#map_container{
   height: 300px;
   width: 400px;
}
#map {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
}
.image {
    width: 400px;
    object-fit: contain;
}
